<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.gpluslogin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Whatisit"
            android:label="@string/title_activity_whatisit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Account"
            android:label="@string/title_activity_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Rewards"
            android:label="@string/title_activity_rewards"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Contact"
            android:label="@string/title_activity_contact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Share"
            android:label="@string/title_activity_share"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Version"
            android:label="@string/title_activity_version"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>